.product-section {
    margin-bottom: 30px;
}

.product-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-heading h3 {
    font-size: 2.2rem;
    color: #444;
}

.product-heading ul {
    display: flex;
    list-style: none;
}

.product-heading ul li {
    margin-right: 10px;
}

.product-heading ul li:last-child {
    margin-right: 0;
}

.product-heading ul li a {
    border-radius: 10px;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    color: #444;
    padding: 8px 10px;
    font-size: 1.3rem;
    white-space: nowrap;
    text-decoration: none;
    display: block;
}

.product-item {
    position: relative;
    display: block;
    margin-top: 16px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 10px;
    padding: 20px 10px;
    text-decoration: none;
}

.product-img {
    text-align: center;
    margin-bottom: 8px;
}

.product-img img {
    width: 160px;
}

.product-name {
    font-size: 1.4rem;
    color: #444;
    font-weight: 600;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.4;
    height: 65px;
}

.product-price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-new-price {
    margin-right: 10px;
    font-size: 1.6rem;
    color: #D70018;
    font-weight: 600;
}

.product-old-price {
    font-size: 1.4rem;
    color: #707070;
    font-weight: 600;
    text-decoration: line-through;
}

.product-promotion {
    height: 60px;
}

.product-promotion p {
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    background: #f3f4f6;
    color: #444;
    padding: 6px;
}

.product-action {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.product-action span {
    font-size: 1.2rem;
    color: #777;
    font-weight: 500;
    margin-right: 6px;
}

.product-action i {
    font-size: 2.6rem;
    color: red;
}

.product-sale-off {
    position: absolute;
    top: 0;
    left: -6px;
    background-color: #D70018;
    padding: 8px 12px;
    border-radius: 6px 30px 30px 6px;
}

.product-sale-off::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    border-top: 6px solid #D70018;
    border-left: 6px solid transparent;
}

.product-sale-off span {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 700;
}

/* Small product */
.small-product {
    margin-bottom: 30px;
}

.small-product-content {
    overflow-x: scroll;
}

.small-product-content::-webkit-scrollbar {
    display: none;
}

.small-product-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px;
}

.small-product-item {
    width: calc(10% - 10px);
}

.small-product-link {
    display: block;
    width: 100%;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-color: rgb(242, 131, 118);
    min-height: 125px;
    border-radius: 10px;
    text-decoration: none;
}

.small-product-link span {
    display: block;
    font-size: 1.4rem;
    color: var(--white);
    margin: 0 8px;
    padding-top: 8px;
    font-weight: 700;
}