@media (max-width: 77.4375em) {
    .hide {
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .content {
        padding-right: 10px;
        padding-left: 10px;
    }

    .hide-on-tablet-mobile {
        display: none;
    }

    .hide-on-pc {
        display: block !important;
    }

    .header-inner {
        padding: 10px;
        justify-content: space-between;
        height: auto;
        gap: 10px;
    }

    .header-logo {
        width: 34px;
        border: 1px solid #ccc;
        border-radius: 25%;
    }

    .header-search {
        width: 100%;
        order: 1;
    }

    .product-heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-heading ul {
        width: 100%;
        overflow-x: scroll;
        margin-top: 16px;
    }

    .product-heading ul::-webkit-scrollbar {
        display: none;
    }

    .brand-item {
        width: calc(50% - 10px);
        flex: unset;
    }

    .news-tech-list {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .news-tech-list::-webkit-scrollbar {
        display: none;
    }

    .news-tech-item {
        width: 50%;
        margin-right: 10px;
        display: inline-block;
    }

    .news-tech-heading,
    .news-tech-sub-heading {
        white-space: pre-wrap;
    }

    .small-product-item {
        width: 93.4px;
    }

    .product-desc {
        margin-top: 30px;
    }

    .header-navbar {
        flex: 1;
        justify-content: flex-end;
    }

    .footer-top,
    .footer-bottom {
        padding-left: 15px;
        padding-right: 15px;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }

    .small-product-list {
        width: 1024px;
    }

    .company-address {
        text-align: left;
    }

    .product-img h3 {
        font-size: 1.2rem;
    }

    .product-img img {
        width: 110px;
    }

    .product-img ul {
        font-size: 1.1rem;
    }

    .product-img ul li::marker {
        font-size: 1.5rem;
    }

    .product-type .product-new-price {
        font-size: 1.6rem;
    }

    .product-type .product-old-price {
        font-size: 1.2rem;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none !important;
    }

    .header-logo {
        width: 161px;
        border: unset;
        border-radius: unset;
    }

    .header-location__text h3 {
        font-size: 0.9rem;
        line-height: 15px;
    }
    
    .header-location__text p {
        font-size: 1.1rem;
    }

    .header-item {
        width: 50px;
        padding: 2px;
        gap: 1px;
        flex-direction: column;
        background-color: var(--background-header-item);
    }

    .header-item p {
        font-size: 0.9rem;
    }

    .header-item br {
        display: none;
    }

    /* Content */
    .content {
        padding-right: 10px;
        padding-left: 10px;
    }

    .slider-item {
        width: 100%;
    }

    .slide-show {
        height: auto;
    }

    .product-heading h3 {
        font-size: 1.6rem;
    }

    .product-sale-off span {
        font-size: 0.9rem;
    }

    .product-img img {
        width: 120px;
    }

    .product-name {
        font-size: 1.2rem;
        height: 50px;
    }

    .product-new-price {
        font-size: 1rem;
    }

    .product-old-price {
        font-size: 0.9rem;
    }

    .product-promotion p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .product-sale-off {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .small-product-list {
        width: 790px;
    }

    .small-product-item {
        width: 70px;
    }

    .small-product-link {
        min-height: 80px;
        background-size: 50px;
    }

    .small-product-link span {
        font-size: 1rem;
    }

    .product-type {
        margin-top: 30px;
    }

    .color-item {
        padding-left: 0;
    }

    .product-item-img img {
        width: 120px;
    }

    .product-item-price p:first-child {
        font-size: 1rem;
    }

    .product-item-price p:last-child {
        font-size: 0.9rem;
    }

    .header-item span {
        left: 21px;
        top: calc(50% - 4px);
    }

}